#hideHeading {
    font-size: 72px;
    color: coral;
    background-color: black;
    display: flex;
    justify-content: center;
}

#hideButton {
    font-size: 92px;
    color: cornflowerblue;
    background-color: black;
    border: none;
    border-radius: 20px;
    padding: 0 2em 0 2em;
    margin-left: 1.7em;
    cursor: pointer;
}